/* RESET DU STYLE */

@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout (all) */
/* tous les éléments sont taillés de façon plus intuitive, ils concerveront la taille que nous leur donnerons */
* {
	box-sizing: border-box; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* MES STYLES POUR LE PREMIER SITE : JUSTINE PÉRINEL, COLOMBBUS */

/*  A COPIER COLLER POUR LA FONT-FAMILY :

font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;    
font-family: 'Berkshire Swash', cursive;    
font-family: 'Righteous', cursive; */

body {
	background-image: url('../img/concrete-texture.png');
	font-family: 'Oswald', sans-serif;
}

.clear {
	clear: both;
}

/* STYLE POUR LES TITRES */

h1 {
	font-size: 40px;
	color: #2980B9;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Anton', sans-serif;
}

h2 {
	font-size: 35px;
	color: #2C3E50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}

h2 i {
	color: #89c;
	font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

strong {
	font-weight: bold;
}
/* à compléter  */

/* STYLE HEADER */

header {
	height: 175px;
	background: #2c3e50;
}

#logo {
	float: left;
	width: 25%;
	background: #2c3e50;
	padding: 15px;
	text-align: center;
}

#slogan {
	float: left;
	width: 50%;
	background: #2c3e50;
	padding-top: 50px;
}

#social i {
	background: #2C3E50;
	font-size: 30px;
	text-align: right;
	padding: 15px 30px 0 0;
	color: #2980B9;
}

header a {
	text-decoration: none;
	color: #10828c;
}

/* STYLE NAV */

nav {
	background: #2980B9;
	height: 70px;
	border-bottom: 8px solid #6acafc;
	text-align: center;
	padding: 15px;
}

nav a {
	background: #2980B9;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0;
	border: 2px solid #fff;
	color: #2C3E50;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	transition: 10s;
}

/* la transition sur le a marche avec le a:hover, contrôle la durée en secondes ou en millisecondes de la durée d'affichage de l'animation avec le survol*/

nav a:hover {
	color: #fff;
	background: #a6d6c3;
}

.active {
	color: orangered;
	background: #a6d6c3;
}

/* LES ZONES PRINCIPALES DU SITE */

main {
	background: rgba(178, 178, 178, 0.178);
	width: 1200px;
	margin: 0 auto;
}

aside {
	margin: 15px 0 auto 10px;
	min-height: 250px;
	background: #a6d6c3;
	width: 20%;
	float: left;
	padding: 8px;
	text-align: center;
}

#accueil {
	float: left;
	width: 75%;
	/* padding: 10px; */
}

section {
	margin-top: 10px;
	padding: 20px;
}

footer {
	min-height: 100px;
	margin-top: 10px;
	background: #2980B9;
}

/* LE BOUTON */

button {
	font-size: 350%;
	background: transparent;
	border: none;
	color: #2C3E50;
	/* LA POSITION DU BOUTON */
	position: fixed;
	bottom: 40px;
	right: 20px;
	cursor: pointer;
}

/* FIN DU STYLE PRINCIPAL */

/* STYLE DE LA PAGE TEXTE */

blockquote {
	font-family: 'Lemonada', cursive;
}

h2 i {
	color: #2980b9;
	font-size: 200%;
}

blockquote i {
	font-size: 300%;
	color: #6acafc;
	vertical-align: middle;
}

cite::before {
	content: "«";
}

cite::after {
	content: "»";
}

/* FIN STYLE PAGE TEXTE */

/* DÉBUT STYLE IMAGES */

.image-fond {
	background: url('../img/fond.jpg') no-repeat;
	background-size: cover;
}

/* l'image apparaît car le p à une marge extérieure très grande */
.image-fond p {
	width: 75%;
	margin: 200px auto 250px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.60);
	border-radius: 10px;
	font-size: 120%;
}

/* ON CIBLE UNE SEULE IMAGE AVEC SON CHEMIN RELATIF DEPUIS LA PAGE HTML */
img[src="img/toureiffel.jpg"] {
	margin: auto;
	display: block;
	padding: 30px;
	background: #fff;
}

.auCentre {
	text-align: center;
}

.imageGolden {
	margin: 20px;
	border: 5px solid #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	/* transition = durée qui durera avec le :hover et transform */
	/* transition: 1s; */
}

/* EFFETS D'ANIMATION */

.imageGolden:hover {
	transform: rotate(-7deg);
	border: 15px solid #fff;
}

.rotation360:hover {
	transform: rotate(-360deg);
	transition: 1s;
}

.photoshop {
	margin: auto;
	text-align: center;
}

/* FIN PAGE IMAGE */


/* DEBUT PAGE POSITION */

.centre {
	height: 200px;
	width: 200px;
	background-color: rgb(255, 187, 0);
	margin: 0 auto;
}

.absolute {
	height: 100px;
	width: 100px;
	background-color: yellow;
	position: absolute;
	top: 30%;
	left: 10%;
}

/* quand c'est relatif, c'est par rapport au parent */
.relative {
	background-color: rgb(255, 115, 0);
	width: 500px;
	height: 500px;
	position: relative;
	left: 100px;
	/* la position relative à la section dans laquelle se toruve cette div (la position est relative au parent) */
	bottom: 10px;
}
/* quand c'est absolute c'est pas rapport au parent sauf si l'élément est danss une position relative */
.relative div {
/* contrairement à la div.absolute, cet élément ayant une position absolute étant placé dans une div.relative, cette div est absolue par rapport à son parent et non par rapport à body  */
	background-color: rgb(255, 217, 0);
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
} 

/* page position : POURCENTAGES */

.trente {
	width: 30%;
	padding: 20px;
	font-size: 22px;
	background-color: rgb(255, 217, 0);
	color: orange;
}

.cinquante {
	width: 50%;
	padding: 20px;
	font-size: 22px;
	background-color: rgb(255, 187, 0);
	color: rgb(255, 115, 0);
}

.cent {
	width: 100%;
	padding: 20px;
	font-size: 22px;
	background-color: red;
	color: rgb(153, 0, 0);
}

/* page position : FLOAT.1 */

.float {
	height: 170px;
	width: 170px;
	background-color: rgb(255, 232, 128);
	border: 2px solid rgb(255, 196, 0);
	margin: 10px;
	float: left;
	text-align: center;
	font-size: 22px;
}

.dernier {
	height: 170px;
	width: 170px;
	background-color: rgb(255, 232, 128);
	border: 2px solid rgb(255, 196, 0);
	margin-top: 20px;
	margin: 10px;
	text-align: center;
	font-size: 22px;
}

/* page position : FLOAT.2 */

.zone {
	height: 70px;
	background-color: #333;
}

.zone1, .zone2, .zone3, .zone4 {
	height: 250px;
	width: 25%;
	float: left;
}

.zone1 {
	background-color: rgb(248, 46, 56);
}

.zone2 {
	background-color: rgb(255, 115, 0); 
}

.zone3 {
	background-color: rgb(255, 187, 0);
}

.zone4 {
	background-color: rgb(255, 217, 0);
}

/* page position : FLEXBOX.1 */

section article.flex {
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
	line-height: 130px;
}


section article.flex div {
	height: 150px;
	width: 150px;
	background: #7e2f3f;
	color: #fff;
	font-size: 50px;
	margin: 10px;
}

/* FIN DE PAGE POSITION */

/* LA PAGE DE ZONING */
/* ZONING 1 */
#zoning1 {
	background: #333;
    width: 800px;
    text-align: center;
    margin: auto;
	box-shadow: 1px 1px 2px white;
	font-family: 'Berkshire Swash', cursive;
	font-size: 1.7em;
}

#zoning1 header {
	height: 70px;
	background-color: #f7f39a;
}

#zoning1 header p {
	font-size: 1.9em;
}

#zoning1 aside {
	padding: 0;
	margin: 0;
	height: 450px;
	width: 20%;
	float: left;
	background-color: #e0d501;
}

#zoning1 section {
	padding: 0;
	margin: 0;
	height: 450px;
	width: 80%;
	float: left;
	background-color: #faf8d1;
}

/* ZONING 2 */

#zoning2 {
    margin: 0 auto;
	width: 810px;
	text-align: center;
	border: 5px double rgb(162, 112, 209)
}

#zoning2 header {
    background-color: rgb(214, 189, 238);
    width: 800px;
    height: 100px;
	margin: 0;
}

#zoning2 aside {
    float: left;
    background-color: rgb(199, 156, 240);
    width: 100px;
    height: 400px;
	margin: 0;
}

#zoning2 section {
    float: left;
    background-color: rgb(162, 112, 209);
    width: 600px;
    height: 400px;
	margin: 0;
}

#zoning2 footer {
    height: 100px;
	width: 800px;
    background-color: rgb(214, 189, 238);
	margin: 0;
}

#zoning2 p,#zoning2 h2 {
    font-family: 'Bad Script', cursive;
    margin: 0;
	font-size: 18px;
	padding: 3px;
}

#zoning2 h2 {
    color: rebeccapurple;
    font-size: 36px;
}

/* ZONING 3 */

#zoning3 {
	text-align: center;
	width: 800px;
	margin: 0 auto;
	background-color: rgb(255, 214, 216);
	font-family: 'Kaushan Script', cursive;
	font-size: 1.6em;
}

#zoning3 #sgauche {
	margin: 0;
    float: left;
    background-color: rgb(255, 159, 164);
    width: 398px;
    height: 400px;
	border-right: 2px solid rgb(248, 46, 56);
}

#zoning3 #sdroite {
	margin: 0;
    float: left;
    background-color: rgb(255, 159, 164);
    width: 400px;
    height: 400px;
}

#zoning3 footer {
	margin-top: 20px;
    background-color: rgb(253, 83, 91);
}

#zoning3 footer p {
    padding: 5px;
    margin: 0;
}

/* ZONING 4 */

#zoning4 {
    background-color: #fff;
    width: 800px;
	margin: 15px auto;
	text-align: center;
}

#zoning4 header {
    background-color: rgb(1, 90, 90);
    height: 100px;
    margin-bottom: 0;
}

#zoning4 nav {
    background-color: rgb(1, 122, 122);    
	/* height: 60px; */
	border: none;
}

#zoning4 .header-nav {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
    background-color: #fff;
    color: grey;
}

#zoning4 section {
    border: 20px solid #fff;
    background: rgb(0, 197, 197);
    height: 500px;
}

#zoning4 footer {
    background-color: rgb(1, 243, 243);
    width: 800px;
    height: 60px;
}

#zoning4 p {
	margin: 0;
}

/* ZONING 5 */

#zoning5 {
	background: #ff9933;
	margin: 0 auto;
	width: 1000px;
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}
   
#zoning5 header {
	background: #FED0A6;
	height: 100px;
	
}

#zoning5 nav {
	background: #FFCC85;
	height: 50px;
	border: none;
	/* border-bottom: 8px solid #ffa43b; */
}

#zoning5 section {
	background-color: seashell;
	margin: 20px;
	padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
	height: 250px;
	width: 50%;
	float: left;
}

#zoning5 .section .z1, .z2, .z3, .z4 p {
	line-height: 250px;
}

/* line-height à la taille de l'élément dans le cas d'un texte tenant sur une ligne pour centrer le texte  */

#zoning5 .z1, .z4 {
	background: #FDB658;
}

#zoning5 .z2, .z3 {
	background: #FED0A6;
}

#zoning5 footer {
	background: #FFBC71;
}

#zoning5 p {
	margin: 0;
}

/* ZONING 6 */

.zoning6 {
    width: 1000px;
    margin: 15px auto 0;
    text-align: center;
	line-height: 2em;
	color: #fff;
	font-family: 'Righteous', cursive;
}

.zoning6 .petit-haut {
    width: 25%;
    height: 100px;
    background-color: #F8BBD0;
    float: left;
}

.zoning6 .grand-haut {
    width: 50%;
    height: 100px;
    background-color: #F48FB1;
    float: left;
}

.zoning6 nav {
    background-color: #F06292;
	min-height: 45px;
	border: none;
}

.zoning6 nav a {
	border: none;
	background: none;
	padding: 0 20px;
	margin: 0;
	font-family: 'Righteous', cursive;
	color: #fff;
	font-size: 1.2em;
}

.zoning6 aside {
	padding: 0;
	margin: 0;
    background-color: #EC407A;
    width: 25%;
    height: 500px;
    float: left;
}

.zoning6 .a, .zoning6 .b {
    width: 37.5%;
    float: left;
    height: 205px;
}

.zoning6 .a {
    background-color: #fc82ab;
}

.zoning6 .b {
    background-color: #AD1457;
}

.zoning6 .diapo {
    width: 75%;
    background-color: #fda9c7;
    float: left;
    height: 205px;
}

.zoning6 .c, .zoning6 .d, .zoning6 .e, .zoning6 .f {
    width: 18.75%;
    height: 90px;
    float: left;
}

.zoning6 .c {
    background-color: #F48FB1;
}

.zoning6 .d {
    background-color: #EC407A;
}

.zoning6 .e {
    background-color: #D81B60;
}

.zoning6 .f {
    background-color: #AD1457;
}

.zoning6 footer {
    background-color: #880E4F;
	height: 45px;
	padding: 0;
	margin: 0;
}

/* FIN PAGE ZONING */

/* DEBUT PAGE TABLEAU */

.tableau table {
	border: 2px solid #205d67;
	border-collapse: collapse;
	margin: auto;
	width: 80%;
	padding: 5px;
}

.tableau td {
	border: 2px solid #205d67;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

.tableau tbody td {
	text-align: left;
}

.tableau thead, .tableau tfoot {
	background-color: #d0e3fa;
	border: 5px solid #6495ed;
	text-align: center;
}

.tableau caption {
	background: #d0e3fa;
	border: 1px solid #6495ed;
	height: 50px;
	font-size: 25px;
	text-align: center;
	padding-left: 5px;
	color: #6495ed;
	line-height: 45px;
}


/* FIN PAGE TABLEAU */

/* PAGE LISTE */

.fromage li {
	list-style: disc url(../img/cheese.png) inside;
}

ol li {
	list-style-type: georgian;
	margin-left: 25px;
}

dt {
	font-weight: 900;
	color: rgb(1, 122, 122);
}

/* DÉBUT DE LA PAGE LIENS */

.ancre {
	text-align: center;
	padding: 100px;
}

.ancre a {
	margin: 8px;
	padding: 5px 10px; 
	background-color: #2c3e50;
	color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 3px rgb(151, 151, 151);
	text-decoration: none;
}

.ancre a:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	text-shadow: 1px 5px 10px rgb(151, 151, 151);
}

/* le menu dans l'id */

#menu nav {
	background: transparent;
	border: none;
}

#menu ul {
	list-style: none;
	text-align: center;
}

#menu ul li {
	display: inline-block;
}

#menu nav a {
	padding: 10px;
	color: grey;
	text-decoration: none;
	background: #ddd;
	transition: 0.75s ease-in;
}

#menu nav a:hover {
	color: #fff;
	background: #006699;
}

/* menu avec menus déroulants */

#menuDeroulant {
	height: 650px;
}

#menuDeroulant nav {
	background: transparent;
	border: none;
	width: 90%;
	margin: 0 auto;
}

#menuDeroulant nav ul li {
	list-style: none;
	width: 20%;
	float: left;
}

#menuDeroulant ul ul {
	display: none;
}

#menuDeroulant nav ul li ul li {
	border-top: 1px solid #464646;
	width: 100%;
}

#menuDeroulant nav li {
	background: #ccc;
}

#menuDeroulant nav li a {
	display: block;
	padding: 4px 0;
}

#menuDeroulant ul {
	text-align: center;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
	display: block;
}

/* FIN DE LA PAGE DES LIENS */

/* LA PAGE DE FORMULAIRE */

form {
	margin: 0 auto;
	width: 60%;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 20px;
	background-color: #2d5c7f;
	color: #d0e3fa;
}

label {
	margin: 20px 10px;
}

form p {
	margin: 10px;
}

/* On interdit le redimensionnement de textarea */
textarea {
	resize: none;
}

.rouge {
	background-color: red;
	color: rgb(240, 240, 240);
	padding: 0 2px;
}


label[for="orange"], label[for="kiwi"], label[for="fraise"], label[for="cerise"] {
	background-color: red;
	color: #fff;
}


/* FIN DE LA PAGE DE FORMULAIRE */

/* LA PAGE MULTIMEDIAS */

/* video.1  */
.videoFond {
	padding-left: 0;
	padding-right: 0;
}

.videoFond video {
	width: 80%;
	position: absolute;
	z-index: 1;
}

.videoTexte {
	/* on décale l'élément par rapport à sa position normale */
	position: relative;
	width: 100%;
	height: 500px;
}

.videoFond p {
	position: absolute;
	z-index: 2;
	width: 500px;
	margin: auto;
	background: rgba(255, 255, 255, 0.6);
	left: 250px;
	top: 150px;
	padding: 20px;
	font-size: 120%;
	border-radius: 15px;
	text-align: center;
}

/* video.2 */

iframe[src="https://www.youtube.com/embed/LBHYhvOHgvc"] {
	width: 100%;
	height: 600px;
}

iframe[allowfullscreen] {
	width: 100%;
}

/* audio.1 */

.audio {
	text-align: center;
}

/* LA FIN DE LA PAGE DES MULTIMEDIAS */

/* DÉBUT DE LA PAGE DES ANIMATIONS */

/* section infoBulle */

/* camel case, casse différenciée */
.infoBulle {
	height: 250px;
	width: 500px;
	margin: auto;
	padding-top: 15px;
	background: #444; 
	box-shadow: 0 0 50px #222 inset;
}

.infoBulle p {
	text-align: center;
	padding-top: 30px;
}

.infoBulle a {
	color: #ccc;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 15px;
	text-shadow: 0 -2px 0 black;
}

.infoBulle a:hover {
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	cursor: help;
}

.infoBulle a span {
	position: absolute;
	padding: 15px;
	margin-top: 23px;
	margin-left: -35px; 
	background: rgba(141, 141, 141, 0.9);
	border-radius: 13px;
	/* le contenu de span disparaît grâce à cette ligne */
	opacity: 0;
	color: rgb(7, 34, 43);
	text-shadow: none;
	transition: .25s;
	/* mise à l'échelle. Scale(0) fait aussi disparaître le contenu de span */
	transform: scale(0) rotateZ(-12deg);
}

.infoBulle a:hover span {
	opacity: 1;
	transform: scale(1) rotate(0);
}

.infoBulle a span::before {
	/* ce truc sert à compléter le dessin de l'infoBulle */
	content: "";
	position: absolute;
	top: -4px;
	left: 7px;
	border-bottom: 6px solid rgba(141, 141, 141, 0.9);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/* section imgEffets */

.imgEffets {
	width: 302px;
	height: 320px;
	margin: 70px auto;
}

.imgEffets li {
	width: 141px;
	/* on fabrique le carré qui contient une image */
	height: 150px;
	margin: 5px;
	float: left;
	list-style: none;
}

/* le 3e li est clear both */
.imgEffets li:nth-child(3) {
	clear: both;
}

.imgEffets img {
	/* on contrôle la position des éléments car on joue sur leur empilement */
	position: absolute;
	/* toutes les images sont empilées en bas */
	z-index: 1;
	/* on cale l'image dans un bloc de 150px */
	height: 150px;
	box-shadow: 0 0 3px black;
	/* cubib-bezier commence par 0 et se termine par 1 et entre ces deux valeurs nous mettons nos propres valeurs */
	transition: .5s /* cubic-bezier(0,3,.4,1) */;
}

.imgEffets li:hover img {
	/* l'image sur le hover sur la li passe au 1er plan  */
	z-index: 2;
	transform: scale(1.5);
	box-shadow: 0 0 10px black;
}


.imgEffets:hover li:not(:hover) img {
	/* dans la partie en survolement .imgEffets, on passe les li qui ne sont pas survolées en niveau de gris et avec un fitre flou */
	filter: grayscale(1) blur(1px);
}
/* FIN DE LA PAGE ANIMATIONS */