/* RESET DU STYLE */

@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout (all) */
/* tous les éléments sont taillés de façon plus intuitive, ils concerveront la taille que nous leur donnerons */
* {
	box-sizing: border-box; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* MES STYLES POUR LE PREMIER SITE : JUSTINE PÉRINEL, COLOMBBUS */

/*  A COPIER COLLER POUR LA FONT-FAMILY :

font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

body {
	background-image: url('../img/concrete-texture.png');
	font-family: 'Oswald', sans-serif;
}

.clear {
	clear: both;
}

/* STYLE POUR LES TITRES */

h1 {
	font-size: 40px;
	color: #2980B9;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Anton', sans-serif;
}

h2 {
	font-size: 35px;
	color: #2C3E50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}

h2 i {
	color: #89c;
	font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

strong {
	font-weight: bold;
}
/* à compléter  */

/* STYLE HEADER */

header {
	height: 175px;
	background: #2c3e50;
}

#logo {
	float: left;
	width: 25%;
	background: #2c3e50;
	padding: 15px;
	text-align: center;
}

#slogan {
	float: left;
	width: 50%;
	background: #2c3e50;
	padding-top: 50px;
}

#social i {
	background: #2C3E50;
	font-size: 30px;
	text-align: right;
	padding: 15px 30px 0 0;
	color: #2980B9;
}

header a {
	text-decoration: none;
	color: #10828c;
}

/* STYLE NAV */

nav {
	background: #2980B9;
	height: 70px;
	border-bottom: 8px solid #6acafc;
	text-align: center;
	padding: 15px;
}

nav a {
	background: #2980B9;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0;
	border: 2px solid #fff;
	color: #2C3E50;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	transition: 0.5s; 
}
/* la transition sur le a marche avec le a:hover, contrôle la durée en secondes ou en millisecondes de la durée d'affichage de l'animation avec le survol*/

nav a:hover {
	color: #fff;
	background: #a6d6c3;
}

.active {
	color: orangered;
	background: #a6d6c3;
}

/* LES ZONES PRINCIPALES DU SITE */

main {
	background: rgba(178, 178, 178, 0.178);
	width: 1200px;
	margin: 0 auto;
}

aside {
	margin: 15px 0 auto 10px;
	min-height: 250px;
	background: #a6d6c3;
	width: 20%;
	float: left;
	padding: 8px;
	text-align: center;
}

#accueil {
	float: left;
	width: 75%;
	/* padding: 10px; */
}

section {
	margin-top: 10px;
	padding: 20px;
}

footer {
	min-height: 100px;
	margin-top: 10px;
	background: #2980B9;
}

/* LE BOUTON */

button {
	font-size: 350%;
	background: transparent;
	border: none;
	color: #2C3E50;
	/* LA POSITION DU BOUTON */
	position: fixed;
	bottom: 40px;
	right: 20px;
}

/* STYLE DE LA PAGE TEXTE */

blockquote {
	font-family: 'Lemonada', cursive;
}

h2 i {
	color: #2980b9;
	font-size: 200%;
}

blockquote i {
	font-size: 300%;
	color: #6acafc;
	vertical-align: middle;
}

/* DÉBUT STYLE IMAGES */

.image-fond {
	background: url('../img/fond.jpg') no-repeat;
	background-size: cover;
}

/* l'image apparaît car le p à une marge extérieure très grande */
.image-fond p {
	width: 75%;
	margin: 200px auto 250px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.60);
	border-radius: 10px;
	font-size: 120%;
}

/* ON CIBLE UNE SEULE IMAGE AVEC SON CHEMIN RELATIF DEPUIS LA PAGE HTML */
img[src="img/toureiffel.jpg"] {
	margin: auto;
	display: block;
	padding: 30px;
	background: #fff;
}

.auCentre {
	text-align: center;
}

.imageGolden {
	margin: 20px;
	border: 5px solid #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	/* transition = durée qui durera avec le :hover et transform */
	/* transition: 1s; */
}

/* EFFETS D'ANIMATION */

.imageGolden:hover {
	transform: rotate(-7deg);
	border: 15px solid #fff;
}

.rotation360:hover {
	transform: rotate(-360deg);
	transition: 1s;
}

/* LA PAGE DE ZONING */
/* ZONING 1 */
#zoning1 {
	background: #333;
    width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 2px white;
}

#zoning1 header {
	height: 70px;
	background-color: #f7f39a;
}


#zoning1 aside {
	padding: 0;
	margin: 0;
	height: 525px;
	width: 20%;
	float: left;
	background-color: #e0d501;
}
#zoning1 section {
	padding: 0;
	margin: 0;
	height: 525px;
	width: 80%;
	float: left;
	background-color: #faf8d1;
}

/* A COMPLETER */

/* DEBUT PAGE POSITION */

.centre {
	height: 200px;
	width: 200px;
	background-color: #6acafc;
	margin: 0 auto;
}

.absolute {
	height: 100px;
	width: 100px;
	background-color: yellow;
	position: absolute;
	top: 30%;
	left: 10%;
}

/* quand c'est relatif, c'est par rapport au parent */
.relative {
	background-color: #2980B9;
	width: 500px;
	height: 500px;
	position: relative;
	left: 100px;
	/* la position relative à la section dans laquelle se toruve cette div (la position est relative au parent) */
	bottom: 10px;
}
/* quand c'est absolute c'est pas rapport au parent sauf si l'élément est danss une position relative */
.relative div {
/* contrairement à la div.absolute, cet élément ayant une position absolute étant placé dans une div.relative, cette div est absolue par rapport à son parent et non par rapport à body  */
	background-color: #fff1a8;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
} 