/* font-family: 'Pacifico', cursive; 
font-family: 'Amatic SC', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Bad Script', cursive;*/

body {
    background-color: #fff;
    text-align: center;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Bad Script', cursive;
    line-height: 12px;
    font-size: 30px;
    box-sizing: border-box;
}

main {
    padding: 25px;
    margin: 25px auto;
    width: 1200px;
    height: 660px;
    background: rgb(255, 87, 115);
    border-radius: 50px;
}

/* ZONING */

header {
    padding-top: 3px;
    width: 1200px;
    height: 150px;
    background-color: rgb(255, 160, 176);
    border-radius: 45px 45px 0 0;
}

aside {
    float: left;
    width: 200px;
    min-height: 500px;
    background-color: rgb(250, 192, 201);
    border-radius: 0 0 0 45px;
}

section {
    float: left;
    background-color: rgb(253, 224, 229);
    width: 1000px;
    min-height: 500px;
    border-radius: 0 0 45px 0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.8em;
    color: rgb(255, 87, 115);
    text-shadow: 2px 2px 2px black;
    padding: 15px;
    background-color: rgb(250, 192, 201);
    padding-top: 60px;
    margin: 15px 0 0 0;
    height: 60px;
    border-radius: 70px 0;

}

h4 {
    font-weight: lighter;
}