@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout (all) */
/* tous les éléments sont taillés de façon plus intuitive, ils concerveront la taille que nous leur donnerons */
* {
	box-sizing: border-box; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.zoning6 {
    width: 1000px;
    margin: 15px auto 0;
    text-align: center;
    line-height: 2em;
}

.zoning6 .clear {
    clear: both;
}

.zoning6 .petit-haut {
    width: 25%;
    height: 100px;
    background-color: #ff3355;
    float: left;
}

.zoning6 .grand-haut {
    width: 50%;
    height: 100px;
    background-color: lightseagreen;
    float: left;
}

.zoning6 nav {
    background-color: lightblue;
    height: 45px;
}

.zoning6 aside {
    background-color: rgb(231, 193, 231);
    width: 25%;
    height: 500px;
    float: left;
}

.zoning6 .a, .b {
    width: 37.5%;
    float: left;
    height: 205px;
}

.zoning6 .a {
    background-color: rgb(236, 197, 164);
}

.zoning6 .b {
    background-color: rgb(199, 177, 177);
}

.zoning6 .diapo {
    width: 75%;
    background-color: lightgreen;
    float: left;
    height: 205px;
}

.zoning6 .c, .d, .e, .f {
    width: 18.75%;
    height: 90px;
    float: left;
}

.zoning6 .c {
    background-color: green;
}

.zoning6 .d {
    background-color: rgb(165, 75, 201);
}

.zoning6 .e {
    background-color: orange;
}

.zoning6 .f {
    background-color: rgb(214, 52, 92);
}

.zoning6 footer {
    background-color: rgb(185, 7, 185);
    height: 45px;
}